body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {

  body {
    padding-top: 50px;
    padding-bottom: 50px;
    //margin-bottom: $footer-height;
  }
}

a { cursor: pointer; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-color;
  z-index: 10000;
}

.img-fit-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-max-height-mini { max-height: $img-size-mini; }

.img-max-height-small { max-height: $img-size-small; }

.img-max-height-medium { max-height: $img-size-medium; }

.img-max-height-large { max-height: $img-size-large; }

.img-size-mini { width: $img-size-mini; height: $img-size-mini; }

.img-size-small { width: $img-size-small; height: $img-size-small; }

.img-size-medium { width: $img-size-medium; height: $img-size-medium; }

.img-size-large { width: $img-size-large; height: $img-size-large; }

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sortable-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}